@font-face {
  font-family: "KarmaLight";
  src: url("/Fonts/KARMA-LIGHT.TTF") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CronosProDisplay";
  src: url("/Fonts/Cronos-Pro-Display_12439.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --rk-header-bg: #f7f5f2;
  --rk-body-bg: #7b8c9a;
  --rk-footer-bg: #f6ecdf;
  --rk-footer-text: #463f37;
  --rk-border: #6e6969;
  --rk-link-color: #f6ecdf;
  --rk-text-light: #f6ecdf;
  --rk-text-dark: #463f37;
  --rk-font-body: "KarmaLight", serif;
  --rk-font-heading: "CronosProDisplay", serif;
  --rk-font-size-body: 16px;
}
